---
import { getCollection } from 'astro:content'
import Layout from '@levino/shipyard-base/layouts/Page.astro'
import type { GetStaticPaths } from 'astro'
import { VegetableTable } from '@/components/garden/VegetableTable'
export const getStaticPaths = (async ({ paginate }) => {
  const vegetables = await getCollection('vegetables')
  return paginate(vegetables, {
    pageSize: 60,
    params: {
      locale: 'de',
    },
  })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout title="Gemüse">
  <div class="container mx-auto mt-8 px-4">
    <VegetableTable caption="Gemüse" vegetables={page.data} />

    <div class="mt-4 flex gap-4">
      {page.url.prev ? <a class="btn btn-outline btn-sm" href={page.url.prev}>Zurück</a> : null}
      {page.url.next ? <a class="btn btn-outline btn-sm" href={page.url.next}>Weiter</a> : null}
    </div>
  </div>
</Layout>
